<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Главное меню</title>
    <style>
      fieldset{
       margin-top: 17%; /* Отступ сверху */
       margin-left: 25%;
       margin-right: 25%;
      }
  </style>
</head>
<body>
<div class="shadow-lg p-3 mb-5 bg-white rounded" style="height:70px;"><h1 class="font-weight-light" style="text-align: center; color: #34495E; font-style: italic;" >SpineStat</h1>
  <h4  class="font-weight-light" style="text-align: center; color: #34495E;" >Главное меню</h4>
</div>
 <form>
  <fieldset>
  <p style="text-align: center"><button class="btn btn-info" type="submit" formaction="{% url 'list_patient'%}" style="font-size : 25px; width: 60%; height: 65px;">Просмотреть список анкет</button></p>
  <p style="text-align: center"><button class="btn btn-info"type="submit" formaction="{% url 'start_survey'%}" style="font-size : 25px; width: 60%; height: 65px;">Создать анкету</button></p>
  </fieldset>
</form>
</body>
</html>