<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Установка фильтров</title>
     <style>
      fieldset{
       margin-left: 25%;
       margin-right: 25%;
      }
  </style>
</head>
<body>
  <fieldset>
      <form action="{% url 'list_patient' %}">
      <p style="text-align: center">Дата
      <select  name="dateSelect" style="font-size : 20px; width: 30%; height: 50px;">
          <option></option>
          <option>Дата рождения</option>
          <option>Дата поступления </option>
          <option>Дата операции </option>
          <option>Дата выписки </option>
      </select>Сортировать <select  name="dateOrder" style="font-size : 20px; width: 30%; height: 50px;">
           <option></option>
           <option>По возрастанию</option>
           <option>По убыванию</option>
      </select>
       </p>
      <p style="text-align: center">Пол
      <select  name="genderSelect" style="font-size : 20px; width: 30%; height: 50px;">
          <option></option>
          <option>Мужской</option>
          <option>Женский</option>
      </select> Дисбаланс  <select  name="disbalanceSelect" style="font-size : 20px; width: 30%; height: 50px;">
              <option></option>
              <option>сагиттальный</option>
              <option>фронтальный</option>
              <option>комбинированный</option>
              <option>нет</option>
      </select>
       </p>
      <p style="text-align: center">Уровень проведения процедуры
      <select  name="levelSelect" style="font-size : 20px; width: 30%; height: 50px;">
          <option></option>
          <option>верхний шейный отдел</option>
          <option>шейно-грудной</option>
          <option>торакальный</option>
          <option>торак.-люмб.-крестц</option>
          <option>люмб.-крестц.</option>
          <option>копчик</option>
          <option>нижний шейный</option>
          <option>шейно-торакально-люмб.</option>
          <option>торакально-люмб.</option>
          <option>люмбальный</option>
          <option>крестцовый</option>
          <option>нет</option>
      </select>
      <p style="text-align: center"><label> Основная патология
          <select  name="mainPathologySelect" style="font-size : 20px; width: 50%; height: 50px;">
              <option></option>
              <option>деген. заболевание </option>
              <option>перелом/травма </option>
              <option>спондилолистез (не деген.) </option>
              <option>инфекция</option>
              <option>повторная операция</option>
              <option>деформация</option>
              <option>патологич. перелом </option>
              <option>воспаление </option>
              <option>опухоль </option>
              <option>нет </option>
              <option>другая </option>
          </select>
      </label>
      </p>
      <p style="text-align: center"><button type="submit" style="font-size : 15px; width: 35%; height: 30px;">Применить фильтры</button></p>
  </form>
  </fieldset>
</body>
</html>