<!DOCTYPE html>
<!--suppress HtmlUnknownTarget -->
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="description" content="Coding Dojo Python/Django Semi-Restful Routes assignment">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<title style="text-align: center">Список анкет</title>
	<style media="screen">
		fieldset{
       margin-left: 20%;
       margin-right: 20%;
      }
		ul {
			list-style-type: none;
		}
		li {
			display: inline-block;
			vertical-align: top;
		}
		li::after {
			content: ' |';
		}
		ul li:last-child::after {
			content: none;
		}
		* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

main {
	margin: 50px;
	padding: 20px;
}

table {
	margin-top: 20px;
	margin-bottom: 20px;
	border-collapse: collapse;
}

th {
	background-color: gray;
	padding: 3px;
	border: 1px solid black;
}

td {
	border: 1px solid black;
	padding: 3px;
	text-align: center;
}

form {
	padding: 5px;
}

/*label, input {*/
/*	display: inline-block;*/
/*	!*vertical-align: bottom;;*!*/
/*	!*margin: 5px 0;*!*/
/*}*/

/*input {*/
/*	padding: 3px;*/
/*}*/

.ten {
	width: 10%;
}

.twenty {
	width: 20%;
}

.thirty {
	width: 30%;
}

.forty {
	width: 40%;
}

.fifty {
	width: 50%;
}

.sixty {
	width: 60%;
}

.seventy {
	width: 70%;
}

.eighty {
	width: 80%;
}

.ninety {
	width: 90%;
}

.hundo {
	width: 100%;
}


.btn-dflt {
	background: linear-gradient(lightgray, gray);
	color: black;
	padding: 3px;
	text-align: center;
}

.btn-imp {
	background: linear-gradient(lightgray, red 30%);
	color: white;
	padding: 3px;
	text-align: center;
}

.btn-pop {
	background: linear-gradient(lightgray, blue 30%);
	color: white;
	padding: 3px;
	text-align: center;
}

.red {
	background-color: red;
	color: white;
}

.green {
	background-color: green;
	color: black;
}

.right {
	float: right;
}

.left {
	float: left;
}

.center {
	margin: 0 center;
}

.notif {
	padding: 5px;
}
	</style>
</head>
<body>
<form action="{% url 'doctor_menu'%}"><button class="btn btn-secondary btn-sm" type="submit" style="font-size : 20px; width: 10%; height: 35px;">Меню</button></form>
	<main>
        <div class="shadow-lg p-3 mb-5 bg-white rounded"><h1 class="font-weight-light" style="text-align: center; color: #34495E; font-style: italic;" >Список анкет</h1></div>
		<form action="{% url 'list_patient' %}">
             <div class="row justify-content-end" style="height: 50px;">
                 <div class="col-4" >
			<input class="form-control" type="=text" placeholder="Идентификатор пациента" aria-label="Search"  name="search">
                  </div>
                 <div class="col-4">
                     <button class="btn btn-primary" type="submit" id="button-search" style="width: 25%; height: 35px;">Поиск</button>
             </div>
            </div>
        </form>
		<div class="shadow-lg p-3 mb-5 bg-white rounded" style="width: 25%; margin-left: 39%; height: 45px"><h5 class="font-weight-light" style="text-align: center;">Фильтры </h5></div>
<!--		<fieldset>-->
            <form action="{% url 'list_patient' %}">
                   <div class="row justify-content-center">
                     <label style="width: 20%; text-align: center;padding-right: 2%">Наименование учреждения</label>
                     <select class="form-control form-control-sm" name="orgSelect" style="width: 24%;">
                         <option></option>
                          <option>ФГБОУ ВО «ПИМУ» Минздрава России</option>
                     </select>
                </div>
                <p></p>
              <div class="row justify-content-center">
          <label style="width: 5%; text-align: center;padding-right: 2%">Дата</label>
<!--                  <div class="col-4">-->
                <select class="form-control form-control-sm" name="dateSelect" style="width: 12%;">
          <option></option>
          <option value="1">Дата рождения</option>
          <option value="2">Дата поступления </option>
          <option value="3">Дата операции </option>
          <option value="4">Дата выписки </option>
          </select>
<!--              </div>-->
                <label style="text-align: center; padding-left: 2%;padding-right: 2%">Сортировать </label>
                  <select class="form-control form-control-sm" name="dateOrder" style="width: 12%;">
           <option></option>
           <option value="1">По возрастанию</option>
           <option value="2">По убыванию</option>
          </select></div>
                <div class="row justify-content-center">
<!--                    Пол<div class="col-4">-->
                    <label style="width: 5%; text-align: center;padding-right: 2%">Пол</label
                    ><select class="form-control form-control-sm" name="genderSelect" style="width: 12%;">
          <option></option>
          <option>Мужской</option>
          <option>Женский</option>
      </select>
<!--               </div>-->
              <label style="text-align: center; padding-left: 4%;padding-right: 1.3%">Дисбаланс</label>
<!--                    <div class="col-4">-->
          <select class="form-control form-control-sm" name="disbalanceSelect" style="width: 12%">
              <option></option>
              <option>сагиттальный</option>
              <option>фронтальный</option>
              <option>комбинированный</option>
              <option>нет</option>
      </select>
                </div>
<!--          </div>-->
                  <div class="row justify-content-center">
     <label style="padding-right: 2%">Уровень проведения процедуры</label>
      <select  class="form-control form-control-sm" name="levelSelect" style="width: 20%;">
          <option></option>
          <option>верхний шейный отдел</option>
          <option>шейно-грудной</option>
          <option>торакальный</option>
          <option>торак.-люмб.-крестц</option>
          <option>люмб.-крестц.</option>
          <option>копчик</option>
          <option>нижний шейный</option>
          <option>шейно-торакально-люмб.</option>
          <option>торакально-люмб.</option>
          <option>люмбальный</option>
          <option>крестцовый</option>
          <option>нет</option>
      </select>
                  </div>
                 <div class="row justify-content-center">
     <label style="padding-right: 8.7%; text-align: center"> Основная патология</label>
          <select class="form-control form-control-sm" name="mainPathologySelect" style="width: 20%">
              <option></option>
              <option>деген. заболевание</option>
              <option>перелом/травма</option>
              <option>спондилолистез (не деген.)</option>
              <option>инфекция</option>
              <option>повторная операция</option>
              <option>деформация</option>
              <option>патологич. перелом</option>
              <option>воспаление</option>
              <option>опухоль</option>
              <option>нет</option>
              <option>другая</option>
          </select>
                 </div>
                <p></p>
      <p style="text-align: center"><button class="btn btn-outline-secondary" type="submit" style="font-size : 15px; width: 15%; height: 35px;">Применить фильтры</button>
          <button class="btn btn-outline-secondary" type="submit" formaction="{% url 'list_patient' %}" style="font-size : 15px; width: 15%; height: 35px;">Сбросить фильтры</button>
      </p>
  </form>
<!--            <form style="text-align: center"><button type="submit" formaction="{% url 'list_patient' %}" style="font-size : 15px; width: 35%; height: 30px;">Сбросить фильтры</button>-->
<!--        </form>-->
<!--  </fieldset>-->
		<table class="table table-bordered">
			<thead class="thead-light">
				<th style="text-align: center">Идентификатор пациента</th>
				<th  style="text-align: center">Основная патология</th>
				<th  style="text-align: center">Дата поступления</th>
				<th  style="text-align: center">Данные анкеты</th>
			</thead>
             {% for data in responses %}
				<tr>
					<td>{{ data.id}}</td>
					<td>{{ data.mainPathology}}</td>
					<td>{{ data.receiptDate}}</td>
					<td>
						<ul>
							<li><a href="{% url 'show' data.id %}">Просмотреть</a></li>
						</ul>
					</td>
				</tr>
                {% endfor %}
		</table>
	</main>
</body>
</html>
