<!DOCTYPE HTML>
<html lang="en">
 <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <title>Вход в систему</title>
     <style>
      fieldset{
       margin-top: 17%; /* Отступ сверху */
       margin-left: 35%;
       margin-right: 35%;
      }
  </style>
 </head>
 <body style="align-content: center" >
 <div class="shadow-lg p-3 mb-5 bg-white rounded" style="height:70px;"><h1 class="font-weight-light" style="text-align: center; color: #34495E; font-style: italic;" >SpineStat</h1>
  <h4  class="font-weight-light" style="text-align: center; color: #34495E;" >Система хранения, ввода и обработки данных</h4></div>
 <form>
  <fieldset>
  <p style="text-align: center"><button class="btn btn-info" type="submit" formaction="https://patient-profile-gito.limequery.com/admin/authentication/sa/login" style="font-size : 25px; width: 60%; height: 65px;">Администратор</button></p>
  <p style="text-align: center"><button class="btn btn-info" type="submit" formaction="{% url 'doctor_menu'%}" style="font-size : 25px; width: 60%; height: 65px;">Врач</button></p>
  </fieldset>
</form>
 </body>
</html>