<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Данные анкеты</title>
</head>

<body>
<form style="padding-left: 85%;padding-top: 1%"><button class="btn btn-info" type="submit" style="font-size : 20px;width: 95%; height: 40px;" formaction="{% url 'list_patient'%}">Список анкет</button></form>
<h1 class="font-weight-light" style="text-align: left; color: #34495E; font-style: italic; padding-left: 3%; font-size: 25px;">Данные анкеты</h1>
<div class="shadow-lg p-3 mb-5 bg-white rounded" style="height: 47px"><h5 class="font-weight-bold" style="text-align: center;font-size: 21px;color: #0E2D4D;">Основная информация</h5></div>
 <label class="font-weight-normal" style="padding-left: 25%;font-size: 24px;"><u>{{main.0.0}}</u></label>
<p></p>
<label class="font-weight-normal" style="padding-left: 18%;font-size: 24px;">{{main.1.0}}</label>
<label class="font-weight-normal" style="padding-left: 7%;font-size: 24px;">{{main.2.0}}</label>
<label class="font-weight-normal" style="padding-left: 7%;font-size: 24px;">{{main.3.0}}</label>
<div class="shadow-lg p-3 mb-5 bg-white rounded" style="height: 47px"><h5 class="font-weight-bold" style="text-align: center;font-size: 21px;color: #0E2D4D;">Уровень проведения процедуры</h5></div>
 {% for data in level %}
<label class="font-weight-normal" style="font-size: 24px; margin-left: 3%">{{data.0}}</label>
{% endfor %}
<div class="shadow-lg p-3 mb-5 bg-white rounded" style="height: 45px"><h5 class="font-weight-bold" style="text-align: center;font-size: 21px;color: #0E2D4D;">Поступление/ патология</h5></div>
{% for data in pathology %}
<div><label class="font-weight-normal" style="font-size: 24px;margin-left: 3%">{{data.0}}</label></div>
{% endfor %}
<div class="shadow-lg p-3 mb-5 bg-white rounded" style="height: 45px"><h5 class="font-weight-bold" style="text-align: center;font-size: 21px;color: #0E2D4D;">Операция</h5></div>
 {% for data in surgery %}
<div><label class="font-weight-normal" style="font-size: 24px;margin-left: 3%">{{data.0}}</label></div>
{% endfor %}
<div class="shadow-lg p-3 mb-5 bg-white rounded" style="height: 49px"><h5 class="font-weight-bold" style="text-align: center;font-size: 21px;color: #0E2D4D;">Хирургические меры</h5></div>
 {% for data in measure %}
<div><label class="font-weight-normal" style="font-size: 24px;margin-left: 3%">{{data.0}}</label></div>
{% endfor %}
<div class="shadow-lg p-3 mb-5 bg-white rounded" style="height: 45px"><h5 class="font-weight-bold" style="text-align: center;font-size: 21px;color: #0E2D4D;">Время госпитализации</h5></div>
 {% for data in hospital %}
<div><label class="font-weight-normal" style="font-size: 24px;margin-left: 3%">{{data.0}}</label></div>
{% endfor %}
</body>
</html>